simulation.name=grmsm

workload.aware=true
workload.representation=gr

incremental.repartitioning=true

transaction.classification.strategy=basic
data.migration.strategy=msm

compression.before.setup=false
sword.compression.ratio=6
sword.dt.threshold=0.5

initial.servers=2
server.capacity=10000
fixed.partitions=4
number.of.replicas=1

simulation.period=7200
inverse.of.mean.inter.arrival.time=1
inverse.of.mean.service.time=1000

workload.change.probability=0.5
dt.change.percentage=0.1
initial.workload.size=3600