simulation.name=hgr-msm

workload.aware=true
incremental.repartitioning=true
transaction.classification=true

workload.representation=hgr
transaction.classification.strategy=basic
data.migration.strategy=msm

decision.priority=0.5

compression.enabled=false
compression.before.setup=false
compression.ratio=6

initial.servers=4
server.capacity=100000
fixed.partitions=16
number.of.replicas=1

simulation.period=43200
inverse.of.mean.inter.arrival.time=1
inverse.of.mean.service.time=1000

percentage.change.in.workload=0.1
observation.window.size=3600
unique.max=1800
dt.threshold=0.5
initial.detection.time=3600
dynamic.dt.margin=false

enable.transaction.expiration=false
old.transaction.timestamp=10801