simulation.name=hgr-sword

workload.aware=true
incremental.repartitioning=true
transaction.classification=false

workload.representation=hgr
transaction.classification.strategy=basic
data.migration.strategy=sword

compression.enabled=true
compression.before.setup=true
compression.ratio=6

initial.servers=4
server.capacity=10000
fixed.partitions=16
number.of.replicas=1

simulation.period=43200
inverse.of.mean.inter.arrival.time=1
inverse.of.mean.service.time=1000

workload.change.probability=0.1
threshold.change.in.dt=0.5
initial.detection.time=3600
dynamic.dt.margin=false

enable.transaction.expiration=true
old.transaction.timestamp=43201