simulation.name=C-T-RBSTA-IDT-0.8

setup=consistenthash

analysis = false
static.repartitioning=false
hourly.repartitioning=false
threshold.repartitioning=true

workload.variation=false

workload.aware=true
incremental.repartitioning=true
graphcutbased.repartitioning=false

workload.representation=hgr

stream.collection=false
stream.collector.size.factor=3

adaptive=false

transaction.classification=false
transaction.classification.strategy=basic

data.migration.strategy=rbsta

compression.enabled=false
compression.before.setup=false
compression.ratio=6

initial.servers=4
server.capacity=100000
fixed.partitions=32
number.of.replicas=1

simulation.period=97200
warmup.period=10800

inverse.of.mean.inter.arrival.time=1
inverse.of.mean.service.time=1000

percentage.change.in.workload=0.15
adjustment=0.6
observation.window.size=3600
unique.max.fixed=900
exponential.Avg.Weight=0.4

span.reduction=1
idt.priority=0.8
idt.threshold=0.5