simulation.name=hgr-random

workload.aware=true
incremental.repartitioning=true
transaction.classification=false

workload.representation=hgr
transaction.classification.strategy=basic
data.migration.strategy=random

compression.enabled=false
compression.before.setup=false
compression.ratio=6

initial.servers=4
server.capacity=10000
fixed.partitions=16
number.of.replicas=1

simulation.period=43200
inverse.of.mean.inter.arrival.time=1
inverse.of.mean.service.time=1000

workload.change.probability=0.1
workload.window.size=3600
unique.max=1800
threshold.change.in.dt=0.5
initial.detection.time=3600
dynamic.dt.margin=false

enable.transaction.expiration=false
old.transaction.timestamp=43201