initial.servers=2
server.capacity=131072
fixed.partitions=4
number.of.replicas=1
simulation.period=86400
mean.inter.arrival.time=1
mean.service.time=0.001
workload.batches=24
sliding.window=900
buffer.size=3600